.footer {
	background-color: #00000035;
	display: flex;
	flex-direction: column;
	/* height: 30vh; */
	margin-top: 150px;
	justify-content: space-between;
	border-radius: 40px 40px 0 0;
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.419);
	align-items: center;
}
.contact-info {
	margin-top: 50px;
	background-color: transparent;
}

h1 {
	background-color: transparent;
}
h4 {
	background-color: transparent;
}
p {
	/* top: auto; */
	box-shadow: none;

	background-color: transparent;
}

@media screen and (max-width: 768px) {
	.footer-para {
		font-size: 0.5rem;
	}
}
