.container {
	margin-top: 150px;
	// width: 80%;
	margin-right: auto;
	margin-left: auto;
	@media (max-width: 768px) {
		margin-top: 50px;
	}

	.main-container {
		transition: all 0.5s ease-in-out;

		width: 100%;
		// bottom: 100px;
		.info {
			width: 50%;
			margin-left: auto;
			margin-right: auto;
			@media (max-width: 768px) {
				width: 80%;
			}

			p {
				text-align: left;
				line-height: 2rem;

				span {
					background-color: #ee5100;
					border-radius: 10px;
					padding: 5px;
					box-shadow: 0 0 10px rgba(255, 255, 255, 0.193);
				}
				// width: 50%;
				// background-color: blanchedalmond;
			}

			.buttons {
				display: flex;
				// width: 50%;
				margin-left: auto;
				margin-right: auto;
				justify-content: space-between;
				margin-bottom: 100px;

				@media (max-width: 768px) {
					width: 90%;
				}
			}
		}
	}
}
